@font-face {
    font-family: "Alex Brush";
    src: url("../fonts/alex-brush/AlexBrush-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Amsterdam_Handwriting";
    src: url("../fonts/amsterdam-handwriting/Amsterdam_Handwriting.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

:root {
    --bordo: #7a1f2b;
    --gold: #c9a44c;
    --cream: #f9f6f2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Georgia", serif;
    background: var(--cream);
    color: #333;
}

body.menu-open {
    overflow: hidden;
}
