.hero {
    height: 100vh;
    background: linear-gradient(
            rgba(122, 31, 43, 0.6),
            rgba(122, 31, 43, 0.6)
        ),
        center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    color: white;
    letter-spacing: 10px;
}

.hero-name{
    font-family: "Amsterdam_Handwriting", cursive;
    height: 150px;
}

.hero-content p {
    color: var(--gold);
    font-size: 1.2rem;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .hero-content h1 {
        font-size: 2.2rem;
    }
}
