.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    text-align: center;
}

.menu > div {
    position: relative;
    padding: 1.2rem 1rem;
    overflow: hidden;
}

#menu {
    position: relative;
}

#menu::after {
     content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 160px;
    background: url(../pics/11.png) no-repeat left bottom / contain;
    opacity: 0.18;
    z-index: 0;
    pointer-events: none;
    border-radius: 20px;
    transform: scaleX(-1);
}

#menu::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 160px;
    height: 160px;
    background: url(../pics/11.png) no-repeat right top / contain;
    opacity: 0.18;
    z-index: 0;
    pointer-events: none;
    border-radius: 42px;
    transform: scaleY(-1);
}

#menu > * {
    position: relative;
    z-index: 1;
}

.menu h3 {
    color: var(--gold);
    margin-bottom: 0.5rem;
}
